@font-face {
    font-family: myFirstFont;
    src: url(fonts/ariata-text-bold.otf);
  }

  * {
    margin: 0;
    font-family: myFirstFont!important;
    box-sizing: border-box;
  }
  
  h1, h2, p {
    font-family: "Ariata text", bold;
  }
  
  h1 {
    color: #c3161c;
  }
  
  
  #formtekst {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
  }
  
  .h2 {
    display: flex;
    font-size: 1.5em;
    color: #c3161c;
  }
  
  .h1 {
    display: flex;
    margin-left: 3px;
    margin-right: 3px;
    font-size: 1.5em;
    color: #020201;
  }
  
  body {
    min-height: 100vh;
    background-color: #f5f2eb;
  }
  
  #skjold {
    justify-content: center;
    background-image: url(pictures/5.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    height: 150px;
  }
  
  a {
    color: #c3161c;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-decoration: none;
    font-weight: 550;
  }
  
  header {
    margin-bottom: 150px;
  }
  
  .parenthead {
    display: grid;
    background-color: #f5f2eb;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 80px;
    grid-column-gap: 0;
    grid-row-gap: 0;
  }
  
  .divhead1 {
    grid-area: 1/1/2/2;
    margin-left: 3%;
    margin-top: 3%;
    background-image: url(pictures/hmflogo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  
  .divhead2 {
    grid-area: 1/2/2/3;
    display: flex;
    justify-content: space-between;
    margin-left: 17%;
    margin-right: 17%;
    align-items: center;
  }
  
  .divhead3 {
    grid-area: 1/3/2/4;
  }
  
  .parent {
    background-color: #f5f2eb;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
  }