@font-face {
    font-family: myFirstFont;
    src: url(fonts/ariata-text-bold.otf);
  }

  * {
    margin: 0;
    font-family: myFirstFont!important;
    box-sizing: border-box;
  }
  
  h1, h2, p {
    font-family: "Ariata text", bold;
  }
  
  h1 {
    color: #c3161c;
  }
  
  
  #formtekst {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
  }
  
  .h2 {
    display: flex;
    font-size: 1.5em;
    color: #c3161c;
  }
  
  .h1 {
    display: flex;
    margin-left: 3px;
    margin-right: 3px;
    font-size: 1.5em;
    color: #020201;
  }
  
  body {
    min-height: 100vh;
    background-color: #f5f2eb;
  }
  
  #skjold {
    justify-content: center;
    background-image: url(pictures/5.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    height: 150px;
  }
  
  a {
    color: #c3161c;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-decoration: none;
    font-weight: 550;
  }
  
  header {
    margin-bottom: 150px;
  }
  
  .parenthead {
    display: grid;
    background-color: #f5f2eb;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 80px;
    grid-column-gap: 0;
    grid-row-gap: 0;
  }
  
  .divhead1 {
    grid-area: 1/1/2/2;
    margin-left: 3%;
    margin-top: 3%;
    background-image: url(pictures/hmflogo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  
  .divhead2 {
    grid-area: 1/2/2/3;
    display: flex;
    justify-content: space-between;
    margin-left: 17%;
    margin-right: 17%;
    align-items: center;
  }
  
  .divhead3 {
    grid-area: 1/3/2/4;
  }
  
  .parent {
    background-color: #f5f2eb;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
  }

  .div1 {
    grid-area: 1/1/2/2;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
  }
  
  .div2 {
    grid-area: 1/2/2/3;
    background-image: url(pictures/ilu1.png);
    background-size: contain;
    margin-right: 10%;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    margin-bottom: 150px;
  }

  .div3 {
    grid-area: 2/1/3/2;
    background-image: url(pictures/ilu5.png);
    background-size: contain;
    margin-left: 10%;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
  }
  
  .div4 {
    grid-area: 2/2/3/3;
    height: 500px;
    display: flex;
    margin-right: 10%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .div5 {
    grid-area: 3/1/4/2;
    height: 500px;
    display: flex;
    margin-left: 10%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .div6 {
    grid-area: 3/2/4/3;
    background-image: url(pictures/ilu2.png);
    background-size: contain;
    margin-right: 10%;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
  }
  
  .div7 {
    grid-area: 4/1/5/2;
    background-image: url(pictures/ilu3.png);
    background-size: contain;
    margin-left: 10%;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
  }
  
  .div8 {
    grid-area: 4/2/5/3;
    height: 500px;
    display: flex;
    margin-right: 10%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .div9 {
    grid-area: 5/1/6/2;
    height: 500px;
    display: flex;
    margin-left: 10%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .div10 {
    grid-area: 5/2/6/3;
    background-image: url(pictures/ilu4.png);
    background-size: contain;
    margin-right: 10%;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
  }
  
  .tekstdiv {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin-top: 40px;
  }

  .fff {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
  }

  
  #morebtn {
    margin-top: 20px;
    background-color: #c3161c;
    border: none;
    color: white;
    padding: 15px 32px;
    border-radius: 15%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#more {display: none;}

#morebtn1 {
  margin-top: 20px;
  background-color: #c3161c;
  border: none;
  color: white;
  padding: 15px 32px;
  border-radius: 15%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#more1 {display: none;}

#morebtn2 {
  margin-top: 20px;
  background-color: #c3161c;
  border: none;
  color: white;
  padding: 15px 32px;
  border-radius: 15%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#more2 {display: none;}

#morebtn3 {
  margin-top: 20px;
  background-color: #c3161c;
  border: none;
  color: white;
  padding: 15px 32px;
  border-radius: 15%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#more3 {display: none;}

#morebtn4 {
  margin-top: 20px;
  background-color: #c3161c;
  border: none;
  color: white;
  padding: 15px 32px;
  border-radius: 15%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#more4 {display: none;}

  
  #modal_container2 {
    position: fixed;
    display: flex;
    z-index: 2;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    opacity: 0;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    transition: opacity 0.3s ease;
  }
  
  .modal2 {
    display: grid;
    padding: 6px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    justify-content: space-between;
    align-items: center;
    height: 80%;
    width: 80%;
    background-color: #fff;
    border-radius: 5px;
  }
  
  #close2 {
    margin-top: 20px;
    cursor: pointer;
    background-color: #c3161c;
    border: none;
    color: #fff;
    padding: 15px 32px;
    border-radius: 15%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }


  .topnav {
    display: none;
  }
  
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border: none;
    border-radius: 20px;
  }
  
  input {
    width: 50%;
    padding: 8px;
    margin: 5px;
    border: 2px solid #c9c9c9;
    border-radius: 4px;
  }
  
  
  input[type=submit] {
    align-self: center;
    background: #c3161c;
    border: none;
    border-radius: 20px;
    width: 40%;
    color: #fff;
    cursor: pointer;
  }


  .parentfoot {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .divfoot2 {
    grid-area: 1/2/2/3;
    text-align: center;
  }
  
  .space {
    width: 80%;
    height: 80px;
    margin-top: 50px;
    margin-bottom: 10px;
  }
  
  .spacet {
    width: 100%;
    height: 8px;
    margin-top: 2px;
    margin-bottom: 10px;
  }
  
  .pp {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    margin-left: 1%;
    color: #c3161c;
    font-size: 13px;
  }

  @media screen and (max-width: 1100px) {
    .a {
    font-size: 10px;
    }
}